@import '../../stylesheets/vars';

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loaderContainer {
  padding: 0.1rem;
}

.loader {
  animation: spin infinite linear 1300ms;
  fill: $primary-400;
  height: auto;
  width: 24px;
}
