$primary-100: #f4f1de;
$primary-200: #e07a5f;
$primary-300: #3d405b;
$primary-400: #81b29a;
$primary-500: #f2cc8f;

$neautral-100: #fffffd;
$neautral-200: #efefef;
$neautral-300: #b9b9b9;
$neautral-400: #8f8f8f;
$neautral-450: #5c6767;
$neautral-500: #293132;
$neautral-600: #000;

$accent: $primary-200;
$text-on-light: $primary-300;
$text-on-dark: $neautral-200;

$disabled-100: $neautral-300;
$primary-font: 'Lato', sans-serif;
