@import '../../stylesheets/vars';

.breadcrumbs {
  display: flex;
  padding: 1rem;
  width: 100%;

  button {
    background: transparent;
    border: hidden;
    color: $primary-300;
    display: flex;
    filter: brightness(1);
    font-weight: 700;
    margin-right: 0.4rem;
    transition: all 300ms ease-in;
  }

  button:hover {
    filter: brightness(1.7);
    transition: filter 200ms ease-in-out;
  }

  svg {
    display: block;
    height: 10px;
    margin-right: 6px;
    transform: rotate(180deg);
    width: 10px;
  }
}
